// variable
$primary-red: #d03939;
$primary-grey: #f0f0f0;
// Typography
$base-font: 'Dosis', helvetica, arial, tahoma, verdana;
$base-font-title: 'Press Start 2P', arial, tahoma, verdana;

$base-font-color: black;
$color-link-hover: black;
$cursor-stroke-width: 1px;
$cursor-stroke: black;
@import 'mixin.scss';
@import 'timeline.scss';
@import 'text-distortion.scss';
@import 'animation-on-scroll.scss';

// global styles

body {
  background-color: $primary-grey;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: $base-font;
  line-height: 20px;
  font-size: 14px;
  color: $base-font-color;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

section {
  margin-top: 25px;
}
h1,
h2,
h3,
h4 {
  font: {
    family: $base-font;
  }
}
p {
  font-family: $base-font;
  margin-bottom: 15px;
}

#__layout {
  overflow-y: hidden;
}

.page-title {
  font-family: $base-font-title;
  font-size: 25px;
}
.inner-container {
  padding: 25px;
  min-height: 100vh;
  overflow-y: hidden;
}

.underline {
  text-decoration: underline;
}

.action-link {
  position: relative;
  color: $primary-red;
  text-decoration: none;

  // styled underline
  @include styled-underline-on-hover;
}

/* transition */
/** fade **/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/** slide-down **/

ul {
  cursor: pointer;
}

.slide-enter-active {
  transition: 0.3s ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

// leaf animation
.distortion-text {
  .leaf-bg {
    background: url(~/static/img/leaf.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;

    position: absolute;
    animation: MoveRotate1 1.2s linear infinite;

    &.right {
      bottom: -5px;
      right: -16px;
    }

    &.center {
      bottom: -5px;
      right: -18px;
      width: 24px;
      height: 24px;
      transform: rotate(-75deg);
      animation: MoveRotate3 0.7s linear infinite;
    }
    &.left {
      top: -33px;
      left: -3px;
      transform: rotate(-68deg);
      background-size: 100% 100%;
      animation: MoveRotate2 1s linear infinite;
    }
  }
  &.is-small {
    .leaf-bg {
      width: 22px;
      height: 22px;
      &.right {
        bottom: -16px;
      }
      &.center {
        width: 20px;
        height: 20px;
        bottom: -6px;
      }
      &.left {
        top: -23px;
      }
    }
  }
}

//keyframes
@keyframes MoveRotate1 {
  0%,
  100% {
    transform: skew(2deg, 2deg);
  }
  50% {
    transform: rotate(15deg) skew(3deg, 3deg);
  }
}
@keyframes MoveRotate2 {
  0%,
  100% {
    transform: rotate(-68deg);
  }
  50% {
    transform: rotate(-80deg);
  }
}
@keyframes MoveRotate3 {
  0%,
  100% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
