@import 'variable.scss';
@import 'mixin.scss';
@import 'timeline.scss';
@import 'text-distortion.scss';
@import 'animation-on-scroll.scss';

// global styles
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $primary-grey;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: $base-font;
  line-height: 20px;
  font-size: 14px;
  color: $base-font-color;
  overflow-x: hidden;
}

.container {
  padding: 20px;
  margin: 0 auto;
  min-height: calc(100vh - 117px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 1100px;
  overflow: hidden;
}

section {
  margin-top: 25px;
}

h1,
h2,
h3,
h4 {
  font-family: $base-font;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.5;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: $base-font;
  margin-bottom: 15px;
  font-size: $base-font-size;
}

a {
  text-decoration: underline;
  color: $primary-red;
  outline: none;

  &:hover {
    color: $base-font-color;
    outline: none;
  }
}

strong {
  color: $primary-red;
  font-weight: 600;
}

// default bullets style
ul {
  text-align: left;
  margin: 20px 0;
  font-size: $base-font-size;
  list-style: none;

  li {
    line-height: 1.5;

    &::before {
      content: '\25AA';
      color: $primary-red;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

#__layout {
  overflow-y: hidden;
}

.page-title {
  font-family: $base-font-title;
  font-size: 25px;
}

.inner-container {
  padding: 20px;
  min-height: calc(100vh - 117px);
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.action-link {
  position: relative;
  text-decoration: none;
  margin-left: 20px;

  // styled underline
  @include styled-underline-on-hover;
}

/* transition */
/** fade **/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

/** slide-down **/

.slide-enter-active {
  transition: 0.3s ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}



.page-title {
  margin-bottom: 30px;
  text-align: center;
}

//keyframes
@keyframes MoveRotate1 {

  0%,
  100% {
    transform: skew(2deg, 2deg);
  }

  50% {
    transform: rotate(15deg) skew(3deg, 3deg);
  }
}

@keyframes MoveRotate2 {

  0%,
  100% {
    transform: rotate(-68deg);
  }

  50% {
    transform: rotate(-80deg);
  }
}

@keyframes MoveRotate3 {

  0%,
  100% {
    transform: rotate(-50deg);
  }

  50% {
    transform: rotate(-35deg);
  }
}