#falling-animation {
  position: relative;
  z-index: 3;

  .fallen-obj {
    width: 35px;
    height: 35px;
    position: absolute;
  }

  &>.fallen-obj {
    background-size: 100% 100%;
  }
}

// fall
.fall-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($fall);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($fall);
    }
  }

  .branch {
    background-image: url("~/static/img/Branch.png");
  }
}

// winter
.winter-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($winter);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($winter);
    }
  }

  .branch {
    background-image: url("~/static/img/snowy-branch.png");
    background-size: 100% 100%;

    &.top {
      width: 700px;
      height: 441px;
      transform: rotate(-180deg);
      left: 0;

    }

    &.center {
      width: 400px;
      height: 252px;
      transform: rotate(0);
    }

    &.bottom {
      width: 300px;
      height: 189px;
      transform: rotate(-203deg);
      left: -90px;
    }
  }
}

// summer
.summer-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($summer);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($summer);
    }
  }

  .branch {
    background-image: url("~/static/img/sunflower-silhoutte.png");
    opacity: 0.1;


    &.bottom,
    &.center {
      top: auto;
      bottom: -67px;
      left: 20px;
      transform: rotate(0);
      width: 400px;
      height: 333px;
      background-position: 0%;
    }

    &.center {
      left: auto;
      right: 20vh;
      bottom: -20px;
      background-image: url("~/static/img/sunflower-silhoutte_2.png");

      width: 276px;
      height: 282px;
    }

    &.top {
      display: none;
    }
  }
}

// spring
.spring-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($spring);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($spring);
    }
  }

  .branch {
    transform: rotate(-180deg);
    background-image: url("~/static/img/spring-branch.png");

    &.top {
      width: 500px;
      height: 500px;
      left: 0;
    }

    &.center {
      width: 250px;
      height: 250px;
      right: 0;
      transform: rotate(0);
    }

    &.bottom {
      width: 300px;
      height: 300px;
      left: -97px;
      transform: rotate(-193deg);
      top: 73vh;
    }
  }
}