#falling-animation {
  position: relative;
  z-index: 3;

  .fallen-obj {
    width: 35px;
    height: 35px;
    position: absolute;
  }

  &>.fallen-obj {
    background-size: 100% 100%;
  }
}


.fall-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($fall);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($fall);
    }
  }
}

.winter-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($winter);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($winter);
    }
  }
}

.summer-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($summer);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($summer);
    }
  }
}

.spring-theme {
  #falling-animation {
    .fallen-obj {
      background-image: url($spring);
    }
  }

  .distortion-text {
    .word-anim {
      background-image: url($spring);
    }
  }
}